src/test/resources/dbunit/CWSCMS.dtd

<!ELEMENT dataset (
  ADDRS_T*,
  ADDRS_UC*,
  ADHMST_T*,
  ADPLC_T*,
  ADR_PHTT*,
  ALGDSP_T*,
  ALLGTN_T*,
  ALPRHIST*,
  ASGNM_T*,
  ASG_UNIT*,
  ATTRNY_T*,
  ATY_ADRT*,
  A_AD42RT*,
  BKGRCHKT*,
  CACI_NOT*,
  CASE_T*,
  CHLD_CLT*,
  CLIENT_T*,
  CLINT_UC*,
  CLN_COLT*,
  CLN_RELT*,
  CLSCP_ET*,
  CL_ADDRT*,
  CNTYOWNT*,
  CNTY_CST*,
  COLTRL_T*,
  CRSS_RPT*,
  CWS_OFFT*,
  DATABASECHANGELOG*,
  DATABASECHANGELOGLOCK*,
  DL_SVC_T*,
  DOCTMPLT*,
  DRMSDOCT*,
  EDPRVCNT*,
  ED_PVDRT*,
  EM_CNT_T*,
  EXTINF_T*,
  FRG_ADRT*,
  GRV_REQT*,
  GV_XRPT*,
  HMNOTE_T*,
  HM_PRFT*,
  HM_SCP_T*,
  ICHMST_T*,
  ICPCREQT*,
  IDV_SVCT*,
  IJBD_DET*,
  IJHM_DET*,
  I_AND_RT*,
  LAW_ENFT*,
  LIC_VSTT*,
  LONG_TXT*,
  OCL_NM_T*,
  OPSCPRLT*,
  OST_CHKT*,
  OTH_ADLT*,
  OTH_DOCT*,
  OTH_KIDT*,
  O_HM_PLT*,
  PH_CNT_T*,
  PLCHM_UC*,
  PLC_EPST*,
  PLC_HM_T*,
  REFERL_T*,
  REFRHIST*,
  REFR_CLT*,
  REPTR_T*,
  RFDLSVCT*,
  SBPVD_UC*,
  SB_PVDRT*,
  SCP_PHTT*,
  SFSUR_BT*,
  SPC_PRJT*,
  SPRJ_RFT*,
  SPV_APVT*,
  STFPERST*,
  STFUATHT*,
  STF_PVLT*,
  SURB_RCT*,
  SVC_PVRT*,
  SYS_CD_C*,
  S_META_T*,
  TRBA_CLT*,
  TSBLOBT*,
  TSCNTRLT*,
  USERID_T*)>

  <!ELEMENT ADDRS_T EMPTY>
  <!ATTLIST ADDRS_T
    IDENTIFIER CDATA #REQUIRED
    CITY_NM CDATA #IMPLIED
    EMRG_TELNO CDATA #IMPLIED
    EMRG_EXTNO CDATA #IMPLIED
    FRG_ADRT_B CDATA #REQUIRED
    GVR_ENTC CDATA #IMPLIED
    MSG_TEL_NO CDATA #IMPLIED
    MSG_EXT_NO CDATA #IMPLIED
    HEADER_ADR CDATA #IMPLIED
    PRM_TEL_NO CDATA #IMPLIED
    PRM_EXT_NO CDATA #IMPLIED
    STATE_C CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    ZIP_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    ADDR_DSC CDATA #IMPLIED
    ZIP_SFX_NO CDATA #IMPLIED
    POSTDIR_CD CDATA #IMPLIED
    PREDIR_CD CDATA #IMPLIED
    ST_SFX_C CDATA #IMPLIED
    UNT_DSGC CDATA #IMPLIED
    UNIT_NO CDATA #IMPLIED
    >

  <!ELEMENT ADDRS_UC EMPTY>
  <!ATTLIST ADDRS_UC
    PKTBL_ID CDATA #REQUIRED
    SRCTBL_CD CDATA #REQUIRED
    CITY_NM CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    STREET_NM CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    >

  <!ELEMENT ADHMST_T EMPTY>
  <!ATTLIST ADHMST_T
    IDENTIFIER CDATA #REQUIRED
    HONLY_IND CDATA #IMPLIED
    ADREC_DT CDATA #IMPLIED
    APPREQ_DT CDATA #IMPLIED
    HS_STAT_C CDATA #IMPLIED
    APP_DEN_DT CDATA #IMPLIED
    CHLD_DESC CDATA #IMPLIED
    CLOSURE_DT CDATA #IMPLIED
    GR_FILE_DT CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    WDRWN_DT CDATA #IMPLIED
    REP_NM CDATA #IMPLIED
    FKCWS_OFFT CDATA #IMPLIED
    FKHM_SCP_T CDATA #REQUIRED
    FKHM_SCP_0 CDATA #REQUIRED
    FKHM_SCP_1 CDATA #REQUIRED
    FKADPTAGYT CDATA #IMPLIED
    FKHM_SCP_2 CDATA #IMPLIED
    FKHM_SCP_3 CDATA #IMPLIED
    FKHM_SCP_4 CDATA #IMPLIED
    FC_ICO_IND CDATA #IMPLIED
    CASEFLDRNO CDATA #IMPLIED
    CNTY_SPFCD CDATA #IMPLIED
    >

  <!ELEMENT ADPLC_T EMPTY>
  <!ATTLIST ADPLC_T
    IDENTIFIER CDATA #REQUIRED
    AAPCASE_NO CDATA #IMPLIED
    ADAGSGN_DT CDATA #IMPLIED
    ADPLCREM_C CDATA #IMPLIED
    AGCY_PDAMT CDATA #IMPLIED
    BPMET_IND CDATA #IMPLIED
    BPPAR_IND CDATA #IMPLIED
    FEE_CODE CDATA #IMPLIED
    FINAL_DT CDATA #IMPLIED
    FIRST_DT CDATA #IMPLIED
    RMV_DT CDATA #IMPLIED
    RMVPL_C CDATA #IMPLIED
    LST_UPD_TS CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    FKADHMST_T CDATA #REQUIRED
    FKADCHCL_T CDATA #REQUIRED
    ADPSP_IND CDATA #IMPLIED
    ADPREL_IND CDATA #IMPLIED
    ADPFOS_IND CDATA #IMPLIED
    ADPNR_IND CDATA #IMPLIED
    OTHREL_IND CDATA #IMPLIED
    FOSNRF_IND CDATA #IMPLIED
    OTHNRF_IND CDATA #IMPLIED
    >

  <!ELEMENT ADR_PHTT EMPTY>
  <!ATTLIST ADR_PHTT
    PHONETC_NM CDATA #REQUIRED
    PRMRY_NMID CDATA #REQUIRED
    PRMRY_NMCD CDATA #REQUIRED
    GVR_ENTC CDATA #REQUIRED
    MATCH_CODE CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT ALGDSP_T EMPTY>
  <!ATTLIST ALGDSP_T
    IDENTIFIER CDATA #REQUIRED
    ALG_DSPC CDATA #IMPLIED
    DISPSN_DT CDATA #IMPLIED
    DISPSN_DSC CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKSTFPERST CDATA #REQUIRED
    FKALLGTN_T CDATA #REQUIRED
    CNTY_SPFCD CDATA #IMPLIED
    GRVNC_IND CDATA #IMPLIED
    >

  <!ELEMENT ALLGTN_T EMPTY>
  <!ATTLIST ALLGTN_T
    IDENTIFIER CDATA #REQUIRED
    ABUSE_ENDT CDATA #IMPLIED
    ABUSE_FREQ CDATA #IMPLIED
    ABUSE_PDCD CDATA #IMPLIED
    LOC_DSC CDATA #IMPLIED
    ABUSE_STDT CDATA #IMPLIED
    ALG_DSPC CDATA #IMPLIED
    ALG_TPC CDATA #REQUIRED
    DISPSN_DSC CDATA #IMPLIED
    DISPSN_DT CDATA #IMPLIED
    IJHM_DET_B CDATA #REQUIRED
    NON_PRT_CD CDATA #REQUIRED
    STFADD_IND CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    FKCLIENT_0 CDATA #IMPLIED
    FKREFERL_T CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    ZIPPY_IND CDATA #IMPLIED
    PLC_FCLC CDATA #IMPLIED
    >

  <!ELEMENT ALPRHIST EMPTY>
  <!ATTLIST ALPRHIST
    IDENTIFIER CDATA #REQUIRED
    PR_UPD_DT CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCLIENT_T CDATA #IMPLIED
    FKALLGTN_T CDATA #REQUIRED
    CNTY_SPFCD CDATA #IMPLIED
    >

  <!ELEMENT ASGNM_T EMPTY>
  <!ATTLIST ASGNM_T
    IDENTIFIER CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    END_TM CDATA #IMPLIED
    ESTBLSH_ID CDATA #REQUIRED
    ESTBLSH_CD CDATA #REQUIRED
    ASSG_RLC CDATA #IMPLIED
    START_DT CDATA #REQUIRED
    START_TM CDATA #REQUIRED
    ASGNMNT_CD CDATA #REQUIRED
    WGHTNG_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKOST_PTYT CDATA #IMPLIED
    FKCASE_LDT CDATA #IMPLIED
    RESPL_DSC CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT ASG_UNIT EMPTY>
  <!ATTLIST ASG_UNIT
    IDENTIFIER CDATA #REQUIRED
    ASGDSK_IND CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    PHONE_NO CDATA #IMPLIED
    TEL_EXT_NO CDATA #IMPLIED
    START_DT CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCWS_OFFT CDATA #REQUIRED
    ASGMUNT_NM CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT ATTRNY_T EMPTY>
  <!ATTLIST ATTRNY_T
    IDENTIFIER CDATA #REQUIRED
    CITY_NM CDATA #IMPLIED
    CWATRY_IND CDATA #REQUIRED
    FAX_NO CDATA #IMPLIED
    FIRST_NM CDATA #REQUIRED
    GVR_ENTC CDATA #IMPLIED
    LANG_TPC CDATA #IMPLIED
    LAST_NM CDATA #REQUIRED
    MSG_EXT_NO CDATA #IMPLIED
    MSG_TEL_NO CDATA #IMPLIED
    MID_INI_NM CDATA #IMPLIED
    NMPRFX_DSC CDATA #IMPLIED
    POSTIL_DSC CDATA #IMPLIED
    PRM_EXT_NO CDATA #IMPLIED
    PRM_TEL_NO CDATA #IMPLIED
    STATE_C CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    SUFX_TLDSC CDATA #IMPLIED
    ZIP_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    BUSNSS_NM CDATA #IMPLIED
    ZIP_SFX_NO CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    ARCASS_IND CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    >

  <!ELEMENT ATY_ADRT EMPTY>
  <!ATTLIST ATY_ADRT
    IDENTIFIER CDATA #REQUIRED
    CREATN_TS CDATA #REQUIRED
    FKATTRNY_T CDATA #REQUIRED
    BUSNSS_NM CDATA #IMPLIED
    CWATRY_IND CDATA #REQUIRED
    STREET_NO CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    SUITE_NO CDATA #IMPLIED
    CITY_NM CDATA #REQUIRED
    STATE_C CDATA #IMPLIED
    ZIP_NO CDATA #IMPLIED
    ZIP_SFX_NO CDATA #IMPLIED
    PRM_TEL_NO CDATA #IMPLIED
    PRM_EXT_NO CDATA #IMPLIED
    OTH_TEL_NO CDATA #IMPLIED
    OTH_EXT_NO CDATA #IMPLIED
    FAX_NO CDATA #IMPLIED
    GVR_ENTC CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT A_AD42RT EMPTY>
  <!ATTLIST A_AD42RT
    IDENTIFIER CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    SPEDUSVCCD CDATA #IMPLIED
    SNGLPRNTCD CDATA #IMPLIED
    ADPRNT1REL CDATA #IMPLIED
    ADPRNT1DSC CDATA #IMPLIED
    ADPRNT2REL CDATA #IMPLIED
    ADPRNT2DSC CDATA #IMPLIED
    OTBRTHSIBS CDATA #IMPLIED
    OTBRTHSIBD CDATA #IMPLIED
    OTNONSIBSN CDATA #IMPLIED
    OTNONSIBSD CDATA #IMPLIED
    PREVADCLDN CDATA #IMPLIED
    BRTHCLDEPN CDATA #IMPLIED
    FOSCIF_NUM CDATA #IMPLIED
    WRDGRDCSNO CDATA #IMPLIED
    OTHCDFMYNO CDATA #IMPLIED
    TOTMINCHLD CDATA #IMPLIED
    OTHSIB_NO CDATA #IMPLIED
    OTHSIBAPNO CDATA #IMPLIED
    OTHSIBPVAN CDATA #IMPLIED
    OTHSIBGRDN CDATA #IMPLIED
    OTHSIBLTFC CDATA #IMPLIED
    OTHSIBFCEX CDATA #IMPLIED
    OTHSBFCRFY CDATA #IMPLIED
    OHSBUCTNPL CDATA #IMPLIED
    ADPTPRNTSN CDATA #IMPLIED
    ADLTCLDAPN CDATA #IMPLIED
    PNTADPTPNT CDATA #IMPLIED
    OTADLADPNT CDATA #IMPLIED
    URADADPTNO CDATA #IMPLIED
    WHADPTPNTN CDATA #IMPLIED
    TOTADADPHM CDATA #IMPLIED
    FKADPLC_T CDATA #REQUIRED
    >

  <!ELEMENT BKGRCHKT EMPTY>
  <!ATTLIST BKGRCHKT
    IDENTIFIER CDATA #REQUIRED
    RCPNT_CD CDATA #IMPLIED
    RCPNT_ID CDATA #IMPLIED
    BKGRCHKC CDATA #REQUIRED
    BKGRCHK_DT CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCOLTRL_T CDATA #IMPLIED
    >

  <!ELEMENT CACI_NOT EMPTY>
  <!ATTLIST CACI_NOT
    FKREFERL_T CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    THIRD_ID CDATA #REQUIRED
    SENT_DT CDATA #REQUIRED
    DLV_MTH_CD CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT CASE_T EMPTY>
  <!ATTLIST CASE_T
    IDENTIFIER CDATA #REQUIRED
    START_DT CDATA #REQUIRED
    SRV_CMPC CDATA #REQUIRED
    APRVL_NO CDATA #IMPLIED
    APV_STC CDATA #REQUIRED
    CLS_RSNC CDATA #IMPLIED
    CSPL_DET_B CDATA #REQUIRED
    CL_STM_TXT CDATA #IMPLIED
    CNTRY_C CDATA #REQUIRED
    NOTES_DOC CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    GVR_ENTC CDATA #IMPLIED
    ICPCSTAT_B CDATA #REQUIRED
    ICPC_RQT_B CDATA #REQUIRED
    LMT_ACSSCD CDATA #REQUIRED
    CASE_NM CDATA #REQUIRED
    PRJ_END_DT CDATA #IMPLIED
    SPRJ_CST_B CDATA #REQUIRED
    STATE_C CDATA #IMPLIED
    TICKLE_T_B CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCHLD_CLT CDATA #REQUIRED
    SRV_CMPDT CDATA #REQUIRED
    FKSTFPERST CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    ALERT_TXT CDATA #IMPLIED
    FKREFERL_T CDATA #IMPLIED
    RSP_AGY_CD CDATA #IMPLIED
    NXT_TILPDT CDATA #IMPLIED
    EMANCPN_DT CDATA #IMPLIED
    L_GVR_ENTC CDATA #IMPLIED
    LMT_ACS_DT CDATA #IMPLIED
    LMT_ACSDSC CDATA #IMPLIED
    >

  <!ELEMENT CHLD_CLT EMPTY>
  <!ATTLIST CHLD_CLT
    FC_ELIGT_B CDATA #REQUIRED
    EDONFL_IND CDATA #REQUIRED
    HLONFL_IND CDATA #REQUIRED
    CURNT_CSID CDATA #IMPLIED
    DTH_CIRC CDATA #IMPLIED
    VOL_PLCDOC CDATA #IMPLIED
    FC2_APLT_B CDATA #REQUIRED
    ICWA_ELGCD CDATA #REQUIRED
    MEDELIGT_B CDATA #REQUIRED
    MNRMOM_IND CDATA #REQUIRED
    PRG_TRMT_B CDATA #REQUIRED
    PTRN_INT_B CDATA #REQUIRED
    SAWS_CS_NO CDATA #IMPLIED
    SAW1APLT_B CDATA #REQUIRED
    SSI_SSPIND CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    ACQ_ED_DSC CDATA #IMPLIED
    ACQ_HTHDSC CDATA #IMPLIED
    HEPDOC_OLD CDATA #IMPLIED
    PRTLIM_IND CDATA #IMPLIED
    INDIAN_IND CDATA #IMPLIED
    PREADPT_CD CDATA #REQUIRED
    ADPT_AGE CDATA #IMPLIED
    ADOPTBL_CD CDATA #IMPLIED
    DRMSHEPDOC CDATA #IMPLIED
    BHIST_IND CDATA #IMPLIED
    SFSURB_IND CDATA #IMPLIED
    AWOL_AB_CD CDATA #IMPLIED
    TRBA_NOT_B CDATA #IMPLIED
    DISABLD_CD CDATA #IMPLIED
    FSTAMP_IND CDATA #IMPLIED
    FSTAMP_DT CDATA #IMPLIED
    SIJ_INT_DT CDATA #IMPLIED
    SSI_SCR_DT CDATA #IMPLIED
    CLG_IND CDATA #IMPLIED
    PSVOC_IND CDATA #IMPLIED
    TCADPT_IND CDATA #IMPLIED
    TCADPT_DT CDATA #IMPLIED
    ICADSL_IND CDATA #IMPLIED
    ICADSR_IND CDATA #IMPLIED
    >

  <!ELEMENT CLIENT_T EMPTY>
  <!ATTLIST CLIENT_T
    IDENTIFIER CDATA #REQUIRED
    ADPTN_STCD CDATA #REQUIRED
    ALN_REG_NO CDATA #IMPLIED
    BIRTH_DT CDATA #IMPLIED
    BR_FAC_NM CDATA #IMPLIED
    B_STATE_C CDATA #IMPLIED
    B_CNTRY_C CDATA #IMPLIED
    CHLD_CLT_B CDATA #REQUIRED
    COM_FST_NM CDATA #REQUIRED
    COM_LST_NM CDATA #REQUIRED
    COM_MID_NM CDATA #IMPLIED
    CONF_EFIND CDATA #REQUIRED
    CONF_ACTDT CDATA #IMPLIED
    CREATN_DT CDATA #REQUIRED
    DEATH_DT CDATA #IMPLIED
    DTH_RN_TXT CDATA #IMPLIED
    DRV_LIC_NO CDATA #IMPLIED
    D_STATE_C CDATA #IMPLIED
    GENDER_CD CDATA #REQUIRED
    I_CNTRY_C CDATA #IMPLIED
    IMGT_STC CDATA #IMPLIED
    INCAPC_CD CDATA #REQUIRED
    LITRATE_CD CDATA #REQUIRED
    MAR_HIST_B CDATA #REQUIRED
    MRTL_STC CDATA #IMPLIED
    MILT_STACD CDATA #REQUIRED
    NMPRFX_DSC CDATA #IMPLIED
    NAME_TPC CDATA #REQUIRED
    OUTWRT_IND CDATA #REQUIRED
    P_ETHNCTYC CDATA #IMPLIED
    P_LANG_TPC CDATA #IMPLIED
    RLGN_TPC CDATA #IMPLIED
    S_LANG_TC CDATA #IMPLIED
    SENSTV_IND CDATA #REQUIRED
    SNTV_HLIND CDATA #REQUIRED
    SS_NO CDATA #IMPLIED
    SSN_CHG_CD CDATA #REQUIRED
    SUFX_TLDSC CDATA #IMPLIED
    UNEMPLY_CD CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    COMMNT_DSC CDATA #IMPLIED
    EST_DOB_CD CDATA #REQUIRED
    BP_VER_IND CDATA #IMPLIED
    HISP_CD CDATA #IMPLIED
    CURRCA_IND CDATA #IMPLIED
    CURREG_IND CDATA #IMPLIED
    COTH_DESC CDATA #IMPLIED
    PREVCA_IND CDATA #IMPLIED
    PREREG_IND CDATA #IMPLIED
    POTH_DESC CDATA #IMPLIED
    HCARE_IND CDATA #IMPLIED
    LIMIT_IND CDATA #IMPLIED
    BIRTH_CITY CDATA #IMPLIED
    HEALTH_TXT CDATA #IMPLIED
    MTERM_DT CDATA #IMPLIED
    FTERM_DT CDATA #IMPLIED
    ZIPPY_IND CDATA #IMPLIED
    DEATH_PLC CDATA #IMPLIED
    TR_MBVRT_B CDATA #IMPLIED
    TRBA_CLT_B CDATA #IMPLIED
    SOC158_IND CDATA #IMPLIED
    DTH_DT_IND CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    ADJDEL_IND CDATA #IMPLIED
    ETH_UD_CD CDATA #IMPLIED
    HISP_UD_CD CDATA #IMPLIED
    SOCPLC_CD CDATA #IMPLIED
    CL_INDX_NO CDATA #IMPLIED
    >

  <!ELEMENT CLINT_UC EMPTY>
  <!ATTLIST CLINT_UC
    PKTBL_ID CDATA #REQUIRED
    SRCTBL_CD CDATA #REQUIRED
    COM_FST_NM CDATA #REQUIRED
    COM_LST_NM CDATA #REQUIRED
    COM_MID_NM CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT CLN_COLT EMPTY>
  <!ATTLIST CLN_COLT
    ACTIVE_IND CDATA #REQUIRED
    COL_RELC CDATA #IMPLIED
    COMNT_DSC CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    THIRD_ID CDATA #REQUIRED
    FKCOLTRL_T CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    >

  <!ELEMENT CLN_RELT EMPTY>
  <!ATTLIST CLN_RELT
    IDENTIFIER CDATA #REQUIRED
    ABSENT_CD CDATA #REQUIRED
    CLNTRELC CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    SAME_HM_CD CDATA #REQUIRED
    START_DT CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    FKCLIENT_0 CDATA #REQUIRED
    >

  <!ELEMENT CLSCP_ET EMPTY>
  <!ATTLIST CLSCP_ET
    IDENTIFIER CDATA #REQUIRED
    ETHNCTYC CDATA #IMPLIED
    ESTBLSH_ID CDATA #REQUIRED
    ESTBLSH_CD CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT CL_ADDRT EMPTY>
  <!ATTLIST CL_ADDRT
    IDENTIFIER CDATA #REQUIRED
    ADDR_TPC CDATA #REQUIRED
    BK_INMT_ID CDATA #IMPLIED
    EFF_END_DT CDATA #IMPLIED
    EFF_STRTDT CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKADDRS_T CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    HOMLES_IND CDATA #IMPLIED
    FKREFERL_T CDATA #IMPLIED
    >

  <!ELEMENT CNTYOWNT EMPTY>
  <!ATTLIST CNTYOWNT
    ENTITY_ID CDATA #REQUIRED
    ENTITY_CD CDATA #REQUIRED
    MULTI_FLG CDATA #REQUIRED
    CTY_00_FLG CDATA #REQUIRED
    CTY_01_FLG CDATA #REQUIRED
    CTY_02_FLG CDATA #REQUIRED
    CTY_03_FLG CDATA #REQUIRED
    CTY_04_FLG CDATA #REQUIRED
    CTY_05_FLG CDATA #REQUIRED
    CTY_06_FLG CDATA #REQUIRED
    CTY_07_FLG CDATA #REQUIRED
    CTY_08_FLG CDATA #REQUIRED
    CTY_09_FLG CDATA #REQUIRED
    CTY_10_FLG CDATA #REQUIRED
    CTY_11_FLG CDATA #REQUIRED
    CTY_12_FLG CDATA #REQUIRED
    CTY_13_FLG CDATA #REQUIRED
    CTY_14_FLG CDATA #REQUIRED
    CTY_15_FLG CDATA #REQUIRED
    CTY_16_FLG CDATA #REQUIRED
    CTY_17_FLG CDATA #REQUIRED
    CTY_18_FLG CDATA #REQUIRED
    CTY_19_FLG CDATA #REQUIRED
    CTY_20_FLG CDATA #REQUIRED
    CTY_21_FLG CDATA #REQUIRED
    CTY_22_FLG CDATA #REQUIRED
    CTY_23_FLG CDATA #REQUIRED
    CTY_24_FLG CDATA #REQUIRED
    CTY_25_FLG CDATA #REQUIRED
    CTY_26_FLG CDATA #REQUIRED
    CTY_27_FLG CDATA #REQUIRED
    CTY_28_FLG CDATA #REQUIRED
    CTY_29_FLG CDATA #REQUIRED
    CTY_30_FLG CDATA #REQUIRED
    CTY_31_FLG CDATA #REQUIRED
    CTY_32_FLG CDATA #REQUIRED
    CTY_33_FLG CDATA #REQUIRED
    CTY_34_FLG CDATA #REQUIRED
    CTY_35_FLG CDATA #REQUIRED
    CTY_36_FLG CDATA #REQUIRED
    CTY_37_FLG CDATA #REQUIRED
    CTY_38_FLG CDATA #REQUIRED
    CTY_39_FLG CDATA #REQUIRED
    CTY_40_FLG CDATA #REQUIRED
    CTY_41_FLG CDATA #REQUIRED
    CTY_42_FLG CDATA #REQUIRED
    CTY_43_FLG CDATA #REQUIRED
    CTY_44_FLG CDATA #REQUIRED
    CTY_45_FLG CDATA #REQUIRED
    CTY_46_FLG CDATA #REQUIRED
    CTY_47_FLG CDATA #REQUIRED
    CTY_48_FLG CDATA #REQUIRED
    CTY_49_FLG CDATA #REQUIRED
    CTY_50_FLG CDATA #REQUIRED
    CTY_51_FLG CDATA #REQUIRED
    CTY_52_FLG CDATA #REQUIRED
    CTY_53_FLG CDATA #REQUIRED
    CTY_54_FLG CDATA #REQUIRED
    CTY_55_FLG CDATA #REQUIRED
    CTY_56_FLG CDATA #REQUIRED
    CTY_57_FLG CDATA #REQUIRED
    CTY_58_FLG CDATA #REQUIRED
    CTY_59_FLG CDATA #REQUIRED
    CTY_60_FLG CDATA #REQUIRED
    CTY_61_FLG CDATA #REQUIRED
    CTY_62_FLG CDATA #REQUIRED
    CTY_63_FLG CDATA #REQUIRED
    DELETE_DT CDATA #IMPLIED
    >

  <!ELEMENT CNTY_CST EMPTY>
  <!ATTLIST CNTY_CST
    ANN_CMP_DT CDATA #IMPLIED
    ANN_DUE_DT CDATA #IMPLIED
    FIRE_IND CDATA #IMPLIED
    FIRE_R_DT CDATA #IMPLIED
    FFH_TYPE CDATA #REQUIRED
    IDENTIFIER CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    LIC_AGE_FR CDATA #IMPLIED
    LIC_AGE_TO CDATA #IMPLIED
    LIC_GNDR CDATA #IMPLIED
    TRNG_PLAN CDATA #IMPLIED
    PRTY_INFO CDATA #IMPLIED
    TRNG_CMPLT CDATA #IMPLIED
    TRNG_DT CDATA #IMPLIED
    FKSTFPERST CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT COLTRL_T EMPTY>
  <!ATTLIST COLTRL_T
    IDENTIFIER CDATA #REQUIRED
    BADGE_NO CDATA #IMPLIED
    CITY_NM CDATA #IMPLIED
    EMPLYR_NM CDATA #IMPLIED
    FAX_NO CDATA #IMPLIED
    FIRST_NM CDATA #REQUIRED
    FRG_ADRT_B CDATA #REQUIRED
    LAST_NM CDATA #REQUIRED
    MID_INI_NM CDATA #IMPLIED
    NMPRFX_DSC CDATA #IMPLIED
    PRM_TEL_NO CDATA #IMPLIED
    PRM_EXT_NO CDATA #IMPLIED
    STATE_C CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    SUFX_TLDSC CDATA #IMPLIED
    ZIP_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    ZIP_SFX_NO CDATA #IMPLIED
    COMNT_DSC CDATA #IMPLIED
    GENDER_CD CDATA #REQUIRED
    BIRTH_DT CDATA #IMPLIED
    MRTL_STC CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    ESTBLSH_CD CDATA #IMPLIED
    ESTBLSH_ID CDATA #IMPLIED
    RESOST_IND CDATA #IMPLIED
    >

  <!ELEMENT CRSS_RPT EMPTY>
  <!ATTLIST CRSS_RPT
    THIRD_ID CDATA #REQUIRED
    XRPT_MTC CDATA #REQUIRED
    INFORM_DT CDATA #REQUIRED
    OUT_ST_IND CDATA #REQUIRED
    GV_XRPT_B CDATA #REQUIRED
    INFORM_TM CDATA #IMPLIED
    RCPT_BDGNO CDATA #IMPLIED
    RCPT_EXTNO CDATA #IMPLIED
    RCPT_TELNO CDATA #IMPLIED
    POS_TILDSC CDATA #IMPLIED
    REFERNC_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKREFERL_T CDATA #REQUIRED
    FKLAW_ENFT CDATA #IMPLIED
    FKSTFPERST CDATA #REQUIRED
    XRPT_DSC CDATA #IMPLIED
    RECIPNT_NM CDATA #IMPLIED
    OSLWNFADDR CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    LAW_IND CDATA #IMPLIED
    OS_LAW_IND CDATA #IMPLIED
    SXRPT_IND CDATA #IMPLIED
    >

  <!ELEMENT CWS_OFFT EMPTY>
  <!ATTLIST CWS_OFFT
    IDENTIFIER CDATA #REQUIRED
    FAX_NO CDATA #IMPLIED
    GEO_RGNTCD CDATA #IMPLIED
    GVR_ENTC CDATA #REQUIRED
    HDQRTR_IND CDATA #REQUIRED
    INACTV_IND CDATA #REQUIRED
    MAILST_DSC CDATA #IMPLIED
    MSG_TEL_NO CDATA #IMPLIED
    MSG_EXT_NO CDATA #IMPLIED
    CWS_OFF_NO CDATA #IMPLIED
    PRM_TEL_NO CDATA #REQUIRED
    PRM_EXT_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKSTFPERST CDATA #IMPLIED
    COMNT_DSC CDATA #IMPLIED
    AGENCY_NM CDATA #REQUIRED
    DPT_DIV_NM CDATA #REQUIRED
    CWS_OFF_NM CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    AGCY_CD_NO CDATA #IMPLIED
    LOC_CNTY CDATA #IMPLIED
    DIR_NM_TL CDATA #IMPLIED
    >

  <!ELEMENT DATABASECHANGELOG EMPTY>
  <!ATTLIST DATABASECHANGELOG
    ID CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
    FILENAME CDATA #REQUIRED
    DATEEXECUTED CDATA #REQUIRED
    ORDEREXECUTED CDATA #REQUIRED
    EXECTYPE CDATA #REQUIRED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    TAG CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
    CONTEXTS CDATA #IMPLIED
    LABELS CDATA #IMPLIED
    DEPLOYMENT_ID CDATA #IMPLIED
    >

  <!ELEMENT DATABASECHANGELOGLOCK EMPTY>
  <!ATTLIST DATABASECHANGELOGLOCK
    ID CDATA #REQUIRED
    LOCKED CDATA #REQUIRED
    LOCKGRANTED CDATA #IMPLIED
    LOCKEDBY CDATA #IMPLIED
    >

  <!ELEMENT DL_SVC_T EMPTY>
  <!ATTLIST DL_SVC_T
    IDENTIFIER CDATA #REQUIRED
    CMM_MTHC CDATA #IMPLIED
    CNT_LOC CDATA #IMPLIED
    CNT_VST_CD CDATA #REQUIRED
    DETAIL_TXT CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    END_TM CDATA #IMPLIED
    DOC_FL_CD CDATA #REQUIRED
    PROVD_BYID CDATA #IMPLIED
    PROVD_BYCD CDATA #IMPLIED
    SVC_CNTC CDATA #IMPLIED
    START_DT CDATA #REQUIRED
    START_TM CDATA #IMPLIED
    STATUS_CD CDATA #REQUIRED
    SUPRVSN_CD CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKDL_SVC_T CDATA #IMPLIED
    OTHPTC_DSC CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    DTL2_TXT CDATA #IMPLIED
    WRAPSVCIND CDATA #IMPLIED
    >

  <!ELEMENT DOCTMPLT EMPTY>
  <!ATTLIST DOCTMPLT
    THIRD_ID CDATA #REQUIRED
    APL_CTXC CDATA #REQUIRED
    DDOS_FNM CDATA #REQUIRED
    TPLHNDL_NM CDATA #REQUIRED
    LANG_TPC CDATA #REQUIRED
    TITLE_NM CDATA #REQUIRED
    GVR_ENTC CDATA #IMPLIED
    INACT_IND CDATA #IMPLIED
    TRNS_TYPE CDATA #REQUIRED
    LST_UPD_TS CDATA #IMPLIED
    >

  <!ELEMENT DRMSDOCT EMPTY>
  <!ATTLIST DRMSDOCT
    CREATN_TS CDATA #REQUIRED
    IDENTIFIER CDATA #REQUIRED
    DOCHNDL_NM CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKDOCTMPLT CDATA #REQUIRED
    FKSTFPERST CDATA #IMPLIED
    FKFPSTFPRT CDATA #IMPLIED
    >

  <!ELEMENT EDPRVCNT EMPTY>
  <!ATTLIST EDPRVCNT
    IDENTIFIER CDATA #REQUIRED
    PRICNTIND CDATA #IMPLIED
    PH_NUMBR CDATA #IMPLIED
    PH_EXTNO CDATA #IMPLIED
    FAX_NO CDATA #IMPLIED
    FIRST_NME CDATA #IMPLIED
    MIDDLE_NM CDATA #IMPLIED
    LAST_NME CDATA #REQUIRED
    NM_PREFIX CDATA #IMPLIED
    SUFFX_TITL CDATA #IMPLIED
    TITLDESC CDATA #IMPLIED
    EMAILADR CDATA #IMPLIED
    DOE_IND CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKED_PVDRT CDATA #REQUIRED
    >

  <!ELEMENT ED_PVDRT EMPTY>
  <!ATTLIST ED_PVDRT
    IDENTIFIER CDATA #IMPLIED
    CITY_NM CDATA #IMPLIED
    SCHL_FAXNO CDATA #IMPLIED
    ED_PVDR_NM CDATA #IMPLIED
    STATE_C CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    ZIP_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #IMPLIED
    LST_UPD_TS CDATA #REQUIRED
    ADDR_DSC CDATA #IMPLIED
    ZIP_SFX_NO CDATA #IMPLIED
    ARCASS_IND CDATA #IMPLIED
    CDSDISNO CDATA #IMPLIED
    CDSSCHNO CDATA #IMPLIED
    CHRTRIND CDATA #IMPLIED
    DOE_IND CDATA #IMPLIED
    CLOSE_DT CDATA #IMPLIED
    GVR_ENTC CDATA #IMPLIED
    HIGRADNO CDATA #IMPLIED
    LOWGRDNO CDATA #IMPLIED
    MAILCTYNM CDATA #IMPLIED
    MAILSTCD CDATA #IMPLIED
    MAIL_ST_NM CDATA #IMPLIED
    MAIL_ST_NO CDATA #IMPLIED
    MAIL_ZIP CDATA #IMPLIED
    MAILZIPS CDATA #IMPLIED
    PHEXT_NO CDATA #IMPLIED
    PHONE_NO CDATA #IMPLIED
    SCHCATCD CDATA #IMPLIED
    SCHOWNCD CDATA #IMPLIED
    WEB_ADDR CDATA #IMPLIED
    YRRNDIND CDATA #IMPLIED
    FKED_PVDIT CDATA #IMPLIED
    >

  <!ELEMENT EM_CNT_T EMPTY>
  <!ATTLIST EM_CNT_T
    IDENTIFIER CDATA #REQUIRED
    ESTBLSH_CD CDATA #REQUIRED
    ESTBLSH_ID CDATA #REQUIRED
    CNTCT_NME CDATA #IMPLIED
    PRI_PH_NO CDATA #IMPLIED
    PRI_PH_EXT CDATA #IMPLIED
    ALT_PH_NO CDATA #IMPLIED
    ALT_PH_EXT CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    CITY_NM CDATA #IMPLIED
    STATE_C CDATA #IMPLIED
    ZIP_NO CDATA #IMPLIED
    ZIP_SFX_NO CDATA #IMPLIED
    FRG_ADRT_B CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT EXTINF_T EMPTY>
  <!ATTLIST EXTINF_T
    SEQ_NO CDATA #REQUIRED
    SUBMTL_TS CDATA #REQUIRED
    TABLE_NAME CDATA #REQUIRED
    OPER_TYPE CDATA #REQUIRED
    PRM_KEY_1 CDATA #REQUIRED
    PRM_KEY_2 CDATA #IMPLIED
    PRM_KEY_3 CDATA #IMPLIED
    PRM_KEY_4 CDATA #IMPLIED
    PRM_KEY_5 CDATA #IMPLIED
    PRM_KEY_6 CDATA #IMPLIED
    PRM_KEY_7 CDATA #IMPLIED
    PRM_KEY_8 CDATA #IMPLIED
    START_DT CDATA #IMPLIED
    AST_UNT_CD CDATA #IMPLIED
    PERSON_NO CDATA #IMPLIED
    SERIAL_NO CDATA #IMPLIED
    AID_TPC CDATA #IMPLIED
    GVR_ENTC CDATA #IMPLIED
    LICENSE_NO CDATA #IMPLIED
    RESPONS_DT CDATA #IMPLIED
    RECEIVE_DT CDATA #IMPLIED
    RAP_ID CDATA #IMPLIED
    FBI_IND CDATA #IMPLIED
    CRSP_TPC CDATA #IMPLIED
    OTHER_DATA CDATA #IMPLIED
    L_USERID CDATA #IMPLIED
    >

  <!ELEMENT FRG_ADRT EMPTY>
  <!ATTLIST FRG_ADRT
    IDENTIFIER CDATA #REQUIRED
    CNTRY_C CDATA #REQUIRED
    FRG_ADRDSC CDATA #IMPLIED
    PRMY_ADRID CDATA #REQUIRED
    PRMY_ADRCD CDATA #REQUIRED
    ZIP_ADR CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT GRV_REQT EMPTY>
  <!ATTLIST GRV_REQT
    FKREFERL_T CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    THIRD_ID CDATA #REQUIRED
    REQUEST_DT CDATA #REQUIRED
    RESOLTN_DT CDATA #IMPLIED
    OUTCOME_CD CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT GV_XRPT EMPTY>
  <!ATTLIST GV_XRPT
    THIRD_ID CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCRSS_RPT CDATA #REQUIRED
    FKCRSS_RP0 CDATA #REQUIRED
    FKGV_ORG_T CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    ORG_TY_IND CDATA #REQUIRED
    >

  <!ELEMENT HMNOTE_T EMPTY>
  <!ATTLIST HMNOTE_T
    IDENTIFIER CDATA #REQUIRED
    RECEIVE_DT CDATA #REQUIRED
    REF_LICIND CDATA #REQUIRED
    SUBMITR_NM CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKPLC_HM_T CDATA #REQUIRED
    COMNT_DSC CDATA #IMPLIED
    >

  <!ELEMENT HM_PRFT EMPTY>
  <!ATTLIST HM_PRFT
    THIRD_ID CDATA #REQUIRED
    CHRCTR_C CDATA #REQUIRED
    CHRCTR_CD CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKPLC_HM_T CDATA #REQUIRED
    >

  <!ELEMENT HM_SCP_T EMPTY>
  <!ATTLIST HM_SCP_T
    THIRD_ID CDATA #REQUIRED
    START_DT CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    LICNSEE_CD CDATA #REQUIRED
    CRPRVDR_CD CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKSB_PVDRT CDATA #REQUIRED
    FKPLC_HM_T CDATA #REQUIRED
    PRPRVDR_CD CDATA #IMPLIED
    CDS_PRSN CDATA #IMPLIED
    SCPRVD_IND CDATA #REQUIRED
    >

  <!ELEMENT ICHMST_T EMPTY>
  <!ATTLIST ICHMST_T
    IDENTIFIER CDATA #REQUIRED
    FKICPCREQT CDATA #REQUIRED
    START_DT CDATA #IMPLIED
    ICHS_CD CDATA #IMPLIED
    PRSNFAC_NM CDATA #REQUIRED
    ICHS_CRC CDATA #IMPLIED
    ICPCRELC CDATA #IMPLIED
    COMNT_TXT CDATA #IMPLIED
    CREFAC_DSC CDATA #IMPLIED
    PLC_REC_CD CDATA #IMPLIED
    PLC_REC_DT CDATA #IMPLIED
    OUTCOME_CD CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT ICPCREQT EMPTY>
  <!ATTLIST ICPCREQT
    IDENTIFIER CDATA #REQUIRED
    FKCASE_T CDATA #REQUIRED
    FKICPCADMT CDATA #REQUIRED
    REQUEST_CD CDATA #REQUIRED
    REQUEST_DT CDATA #REQUIRED
    GVR_ENTC CDATA #REQUIRED
    COMNT_TXT CDATA #IMPLIED
    ICPCA_DOC CDATA #IMPLIED
    ICPCLT_DOC CDATA #IMPLIED
    CPDFRM_ID CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT IDV_SVCT EMPTY>
  <!ATTLIST IDV_SVCT
    DEL_IDV_CD CDATA #REQUIRED
    DEL_IDV_ID CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKDL_SVC_T CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    SVC_CNTC CDATA #IMPLIED
    START_DT CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    >

  <!ELEMENT IJBD_DET EMPTY>
  <!ATTLIST IJBD_DET
    THIRD_ID CDATA #REQUIRED
    ABS_BPTC CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKIJHM_DET CDATA #REQUIRED
    FKIJHM_DE0 CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT IJHM_DET EMPTY>
  <!ATTLIST IJHM_DET
    THIRD_ID CDATA #REQUIRED
    INJR_HMC CDATA #REQUIRED
    IJBD_DET_B CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKALLGTN_T CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT I_AND_RT EMPTY>
  <!ATTLIST I_AND_RT
    THIRD_ID CDATA #REQUIRED
    RFRD_RSC CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKSTFPERST CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT LAW_ENFT EMPTY>
  <!ATTLIST LAW_ENFT
    IDENTIFIER CDATA #REQUIRED
    CITY_NM CDATA #REQUIRED
    CNT_PERSNM CDATA #IMPLIED
    CNT_TEL_NO CDATA #IMPLIED
    CNT_EXT_NO CDATA #IMPLIED
    CNTITL_DSC CDATA #IMPLIED
    FAX_NO CDATA #IMPLIED
    GVR_ENTC CDATA #IMPLIED
    LAW_ENF_NM CDATA #REQUIRED
    STATE_C CDATA #REQUIRED
    STATION_NM CDATA #IMPLIED
    STREET_NM CDATA #REQUIRED
    STREET_NO CDATA #IMPLIED
    ZIP_NO CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    ZIP_SFX_NO CDATA #IMPLIED
    ARCASS_IND CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    >

  <!ELEMENT LIC_VSTT EMPTY>
  <!ATTLIST LIC_VSTT
    IDENTIFIER CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    VISIT_DT CDATA #REQUIRED
    VISIT_NOTE CDATA #REQUIRED
    VISIT_TP CDATA #REQUIRED
    FKCNTY_CST CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT LONG_TXT EMPTY>
  <!ATTLIST LONG_TXT
    IDENTIFIER CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    TTEXT_DSC CDATA #IMPLIED
    >

  <!ELEMENT OCL_NM_T EMPTY>
  <!ATTLIST OCL_NM_T
    THIRD_ID CDATA #REQUIRED
    FIRST_NM CDATA #REQUIRED
    LAST_NM CDATA #REQUIRED
    MIDDLE_NM CDATA #IMPLIED
    NMPRFX_DSC CDATA #IMPLIED
    NAME_TPC CDATA #REQUIRED
    SUFX_TLDSC CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    >

  <!ELEMENT OPSCPRLT EMPTY>
  <!ATTLIST OPSCPRLT
    IDENTIFIER CDATA #REQUIRED
    CLNTRELC CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKOTH_ADLT CDATA #IMPLIED
    FKOTH_KIDT CDATA #IMPLIED
    FKSB_PVDRT CDATA #REQUIRED
    >

  <!ELEMENT OST_CHKT EMPTY>
  <!ATTLIST OST_CHKT
    IDENTIFIER CDATA #REQUIRED
    RCPNT_ID CDATA #IMPLIED
    RCPNT_CD CDATA #IMPLIED
    STATE_C CDATA #REQUIRED
    REGMNT_IND CDATA #IMPLIED
    REQUEST_DT CDATA #IMPLIED
    RECEIVE_DT CDATA #IMPLIED
    STATUS_DT CDATA #IMPLIED
    STATUS_CD CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCOLTRL_T CDATA #IMPLIED
    >

  <!ELEMENT OTH_ADLT EMPTY>
  <!ATTLIST OTH_ADLT
    IDENTIFIER CDATA #REQUIRED
    BIRTH_DT CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    GENDER_CD CDATA #REQUIRED
    OTH_ADLTNM CDATA #REQUIRED
    START_DT CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKPLC_HM_T CDATA #REQUIRED
    COMNT_DSC CDATA #IMPLIED
    OTH_ADL_CD CDATA #IMPLIED
    IDENTFD_DT CDATA #IMPLIED
    RESOST_IND CDATA #IMPLIED
    PASSBC_CD CDATA #IMPLIED
    >

  <!ELEMENT OTH_DOCT EMPTY>
  <!ATTLIST OTH_DOCT
    TITLE_NM CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKDRMSDOCT CDATA #REQUIRED
    FKREFERL_T CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    DOC_EXTC CDATA #IMPLIED
    DOC_LEN CDATA #IMPLIED
    >

  <!ELEMENT OTH_KIDT EMPTY>
  <!ATTLIST OTH_KIDT
    IDENTIFIER CDATA #REQUIRED
    BIRTH_DT CDATA #IMPLIED
    GENDER_CD CDATA #REQUIRED
    OTHCHLD_NM CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKPLC_HM_T CDATA #REQUIRED
    YR_INC_AMT CDATA #IMPLIED
    >

  <!ELEMENT O_HM_PLT EMPTY>
  <!ATTLIST O_HM_PLT
    IDENTIFIER CDATA #REQUIRED
    AGR_EFF_DT CDATA #IMPLIED
    APRVL_NO CDATA #IMPLIED
    APV_STC CDATA #REQUIRED
    CHDP_RF_DT CDATA #IMPLIED
    CHDP_RQIND CDATA #REQUIRED
    DFPRNT_IND CDATA #REQUIRED
    SOC158_DOC CDATA #IMPLIED
    AFDC_PRDOC CDATA #IMPLIED
    AGNFP_ADOC CDATA #IMPLIED
    AGNGH_ADOC CDATA #IMPLIED
    EMRG_PLIND CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    EXMP_HMIND CDATA #REQUIRED
    GHM_PLCIND CDATA #REQUIRED
    INT_NTC_DT CDATA #IMPLIED
    PAYEETPC CDATA #IMPLIED
    PND_LICIND CDATA #REQUIRED
    PLCG_RNC CDATA #IMPLIED
    PROGRAM_NO CDATA #IMPLIED
    SCP_RLTC CDATA #REQUIRED
    EXT_APVNO CDATA #IMPLIED
    XT_APV_STC CDATA #REQUIRED
    START_DT CDATA #REQUIRED
    PAYEE_ENDT CDATA #IMPLIED
    SUBP_FSTNM CDATA #IMPLIED
    SUBP_LSTNM CDATA #IMPLIED
    SUBP_MIDNM CDATA #IMPLIED
    PYE_STRTDT CDATA #IMPLIED
    YOUAKM_CD CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKPLC_HM_T CDATA #REQUIRED
    FKPLC_EPST CDATA #REQUIRED
    FKPLC_EPS0 CDATA #REQUIRED
    PL_RTNLDSC CDATA #IMPLIED
    REMVL_DSC CDATA #IMPLIED
    SCPROXIND CDATA #IMPLIED
    HEP_DT CDATA #IMPLIED
    SBPLRSNC CDATA #IMPLIED
    SIBPLC_TXT CDATA #IMPLIED
    SCPROX_TXT CDATA #IMPLIED
    GRDDEP_IND CDATA #IMPLIED
    SCH_PPL_CD CDATA #IMPLIED
    SIBTGHR_CD CDATA #IMPLIED
    TDCNSL_IND CDATA #IMPLIED
    TDAGR_DT CDATA #IMPLIED
    CPWNMD_IND CDATA #IMPLIED
    CPWNMD_CNT CDATA #IMPLIED
    >

  <!ELEMENT PH_CNT_T EMPTY>
  <!ATTLIST PH_CNT_T
    THIRD_ID CDATA #REQUIRED
    PHONE_NO CDATA #REQUIRED
    PHEXT_NO CDATA #IMPLIED
    PHN_TYP_CD CDATA #REQUIRED
    ESTBLSH_CD CDATA #REQUIRED
    ESTBLSH_ID CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT PLCHM_UC EMPTY>
  <!ATTLIST PLCHM_UC
    PKPLC_HMT CDATA #REQUIRED
    CITY_NM CDATA #REQUIRED
    GEO_RGNTCD CDATA #IMPLIED
    LA_VNDR_ID CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    LICENSE_NO CDATA #IMPLIED
    FACLTY_NM CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    >

  <!ELEMENT PLC_EPST EMPTY>
  <!ATTLIST PLC_EPST
    REMOVAL_DT CDATA #REQUIRED
    AGY_RSPC CDATA #REQUIRED
    ASGN_SW_CD CDATA #IMPLIED
    ELIG_WK_CD CDATA #IMPLIED
    CHL_RGT_CD CDATA #REQUIRED
    DETNORD_DT CDATA #IMPLIED
    DSP_ORD_DT CDATA #IMPLIED
    PLEPS_ENDT CDATA #IMPLIED
    NFC_PLCT_B CDATA #REQUIRED
    OUT_CST_DT CDATA #IMPLIED
    OUT_CST_TM CDATA #IMPLIED
    PETN_FILDT CDATA #IMPLIED
    FCISRVWT_B CDATA #REQUIRED
    FCISHRGT_B CDATA #REQUIRED
    PRVT_SVC CDATA #IMPLIED
    RLS_RSNC CDATA #IMPLIED
    RMV_RSNC CDATA #REQUIRED
    REMOVAL_TM CDATA #REQUIRED
    RMV_BY_ID CDATA #IMPLIED
    RMV_BY_CD CDATA #IMPLIED
    RMV_FRM_NM CDATA #IMPLIED
    RMV_FRM1C CDATA #REQUIRED
    TMP_CSTIND CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    THIRD_ID CDATA #REQUIRED
    COMNT_DSC CDATA #IMPLIED
    END_ENT_DT CDATA #IMPLIED
    RMV_ENT_DT CDATA #REQUIRED
    RMVCR1_ID CDATA #IMPLIED
    RMVCR1_CD CDATA #IMPLIED
    RMVCR2_ID CDATA #IMPLIED
    RMVCR2_CD CDATA #IMPLIED
    RMV_FRM2C CDATA #IMPLIED
    TERM_RS_CD CDATA #IMPLIED
    TERM_DSC CDATA #IMPLIED
    TERM_TY_C CDATA #IMPLIED
    FMLYSTR_CD CDATA #IMPLIED
    BIRTHYR1 CDATA #IMPLIED
    BIRTHYR2 CDATA #IMPLIED
    RSFSURB_NM CDATA #IMPLIED
    GVR_ENTC CDATA #IMPLIED
    PLC24HR_CD CDATA #IMPLIED
    >

  <!ELEMENT PLC_HM_T EMPTY>
  <!ATTLIST PLC_HM_T
    IDENTIFIER CDATA #REQUIRED
    AGE_FRM_NO CDATA #IMPLIED
    AGE_TO_NO CDATA #IMPLIED
    AT_CAP_IND CDATA #REQUIRED
    BCK_PERSNM CDATA #IMPLIED
    BCK_EXT_NO CDATA #IMPLIED
    BCK_TEL_NO CDATA #IMPLIED
    CERTF_PNDT CDATA #IMPLIED
    CHLCR_PLCD CDATA #REQUIRED
    CITY_NM CDATA #REQUIRED
    CL_SRVDC CDATA #IMPLIED
    CONF_EFIND CDATA #REQUIRED
    CUR_OCP_NO CDATA #REQUIRED
    EMR_SHLTCD CDATA #REQUIRED
    FAX_NO CDATA #IMPLIED
    FRG_ADRT_B CDATA #REQUIRED
    GNDR_ACPCD CDATA #IMPLIED
    GEO_RGNTCD CDATA #IMPLIED
    GVR_ENTC CDATA #IMPLIED
    INHM_VSTCD CDATA #REQUIRED
    MAX_CAP_NO CDATA #IMPLIED
    LA_VNDR_ID CDATA #IMPLIED
    LICENSE_NO CDATA #IMPLIED
    LIC_APL_DT CDATA #IMPLIED
    LIC_CAP_NO CDATA #IMPLIED
    LIC_EFCTDT CDATA #IMPLIED
    LIC_EXP_DT CDATA #IMPLIED
    LIC_STATDT CDATA #IMPLIED
    LIC_STC CDATA #IMPLIED
    LIC_BSNC CDATA #IMPLIED
    LICNSEE_NM CDATA #IMPLIED
    LICENSR_CD CDATA #REQUIRED
    FACLTY_NM CDATA #IMPLIED
    OPRTD_BYID CDATA #IMPLIED
    OPRTD_BYCD CDATA #IMPLIED
    P_CITY_NM CDATA #IMPLIED
    PYE_FSTNM CDATA #IMPLIED
    PYE_LSTNM CDATA #IMPLIED
    PYE_MIDNM CDATA #IMPLIED
    P_STATE_C CDATA #IMPLIED
    PSTREET_NM CDATA #IMPLIED
    PSTREET_NO CDATA #IMPLIED
    P_ZIP_NO CDATA #IMPLIED
    PLC_FCLC CDATA #REQUIRED
    PRM_CNCTNM CDATA #IMPLIED
    PRM_EXT_NO CDATA #IMPLIED
    PRM_SUBSID CDATA #IMPLIED
    PRM_SUBSNM CDATA #IMPLIED
    PRM_TEL_NO CDATA #IMPLIED
    PVD_TRNSCD CDATA #REQUIRED
    PUB_TRNSCD CDATA #REQUIRED
    F_STATE_C CDATA #IMPLIED
    STREET_NM CDATA #REQUIRED
    STREET_NO CDATA #IMPLIED
    ZIP_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    ADDR_DSC CDATA #IMPLIED
    SPCHAR_DSC CDATA #IMPLIED
    CTYPRF_DSC CDATA #IMPLIED
    ED_PVR_DSC CDATA #IMPLIED
    ENV_FCTDSC CDATA #IMPLIED
    HAZRDS_DSC CDATA #IMPLIED
    LIS_PRFDSC CDATA #IMPLIED
    PETS_DSC CDATA #IMPLIED
    RLG_ACTDSC CDATA #IMPLIED
    PY_ZIP_SFX CDATA #IMPLIED
    ZIP_SFX_NO CDATA #IMPLIED
    AP_STAT_TP CDATA #IMPLIED
    FKCNTY_CST CDATA #IMPLIED
    CERT_CMPLT CDATA #IMPLIED
    LA_P_CTYNM CDATA #IMPLIED
    LA_P_FSTNM CDATA #IMPLIED
    LA_P_LSTNM CDATA #IMPLIED
    LA_P_MIDNM CDATA #IMPLIED
    LP_STATE_C CDATA #IMPLIED
    LA_P_STNM CDATA #IMPLIED
    LA_P_STNO CDATA #IMPLIED
    LA_P_ZIPNO CDATA #IMPLIED
    LA_P_ZPSFX CDATA #IMPLIED
    LA_P_BSNSS CDATA #IMPLIED
    AP_STAT_DT CDATA #IMPLIED
    LA_P_PH_NO CDATA #IMPLIED
    LA_P_PH_EX CDATA #IMPLIED
    ADHMONLY CDATA #IMPLIED
    PYE_EXT_NO CDATA #IMPLIED
    PYE_TEL_NO CDATA #IMPLIED
    ARCASS_IND CDATA #IMPLIED
    COMFAC_IND CDATA #IMPLIED
    TRNHSG_IND CDATA #IMPLIED
    TRNHSG_FAC CDATA #IMPLIED
    NEWLIC_NO CDATA #IMPLIED
    NEWLIC_UPD CDATA #IMPLIED
    OLDFAC_ID CDATA #IMPLIED
    EM_CNT_B CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    PH_ENDC CDATA #IMPLIED
    END_COMDSC CDATA #IMPLIED
    >

  <!ELEMENT REFERL_T EMPTY>
  <!ATTLIST REFERL_T
    IDENTIFIER CDATA #REQUIRED
    ADD_INF_CD CDATA #IMPLIED
    ANRPTR_IND CDATA #REQUIRED
    PETAPL_IND CDATA #REQUIRED
    APRVL_NO CDATA #IMPLIED
    APV_STC CDATA #REQUIRED
    CR_PERP_CD CDATA #IMPLIED
    REFCLSR_DT CDATA #IMPLIED
    CMM_MTHC CDATA #REQUIRED
    CHILOC_TXT CDATA #IMPLIED
    ALGDSC_DOC CDATA #IMPLIED
    ER_REF_DOC CDATA #IMPLIED
    INVSTG_DOC CDATA #IMPLIED
    XRPT_LWIND CDATA #REQUIRED
    FMY_AW_IND CDATA #REQUIRED
    GVR_ENTC CDATA #IMPLIED
    LGL_DEF_CD CDATA #IMPLIED
    LGLRGT_IND CDATA #REQUIRED
    LMT_ACSSCD CDATA #REQUIRED
    XRPT_RCVDT CDATA #IMPLIED
    REFERRL_NM CDATA #IMPLIED
    ADQT_CS_CD CDATA #IMPLIED
    REF_RCV_DT CDATA #REQUIRED
    REF_RCV_TM CDATA #REQUIRED
    RFR_RSPC CDATA #IMPLIED
    RFRD_RSC CDATA #IMPLIED
    RSP_DTR_DT CDATA #IMPLIED
    RSP_DTR_TM CDATA #IMPLIED
    RSP_RTNTXT CDATA #IMPLIED
    SCN_NT_TXT CDATA #IMPLIED
    SP_INCL_CD CDATA #IMPLIED
    SFC_INF_CD CDATA #IMPLIED
    UNFD_SR_CD CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKREFERL_T CDATA #IMPLIED
    FKADDRS_T CDATA #IMPLIED
    FKSTFPERS0 CDATA #IMPLIED
    FKSTFPERST CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    SPRJRF_IND CDATA #IMPLIED
    ZIPPY_IND CDATA #IMPLIED
    HOMLES_IND CDATA #IMPLIED
    FAMREF_IND CDATA #IMPLIED
    FIRST_EODT CDATA #IMPLIED
    RSP_AGY_CD CDATA #IMPLIED
    L_GVR_ENTC CDATA #IMPLIED
    LMT_ACS_DT CDATA #IMPLIED
    LMT_ACSDSC CDATA #IMPLIED
    ORIGCLS_DT CDATA #IMPLIED
    >

  <!ELEMENT REFRHIST EMPTY>
  <!ATTLIST REFRHIST
    FKREFERL_T CDATA #REQUIRED
    THIRD_ID CDATA #REQUIRED
    REOPEN_DT CDATA #REQUIRED
    REFCLSR_DT CDATA #IMPLIED
    REFROPNC CDATA #REQUIRED
    REOPEN_DSC CDATA #IMPLIED
    FKSTFPERST CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT REFR_CLT EMPTY>
  <!ATTLIST REFR_CLT
    APRVL_NO CDATA #IMPLIED
    APV_STC CDATA #REQUIRED
    DSP_RSNC CDATA #IMPLIED
    DISPSTN_CD CDATA #IMPLIED
    RCL_DISPDT CDATA #IMPLIED
    SLFRPT_IND CDATA #REQUIRED
    STFADD_IND CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    FKREFERL_T CDATA #REQUIRED
    DSP_CLSDSC CDATA #IMPLIED
    RFCL_AGENO CDATA #IMPLIED
    AGE_PRD_CD CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    MHLTH_IND CDATA #IMPLIED
    ALCHL_IND CDATA #IMPLIED
    DRUG_IND CDATA #IMPLIED
    >

  <!ELEMENT REPTR_T EMPTY>
  <!ATTLIST REPTR_T
    RPTR_BDGNO CDATA #IMPLIED
    RPTR_CTYNM CDATA #IMPLIED
    COL_RELC CDATA #IMPLIED
    CMM_MTHC CDATA #IMPLIED
    CNFWVR_IND CDATA #REQUIRED
    FDBACK_DOC CDATA #IMPLIED
    RPTR_EMPNM CDATA #IMPLIED
    FEEDBCK_DT CDATA #IMPLIED
    FB_RQR_IND CDATA #IMPLIED
    RPTR_FSTNM CDATA #IMPLIED
    RPTR_LSTNM CDATA #IMPLIED
    MNRPTR_IND CDATA #REQUIRED
    MSG_EXT_NO CDATA #IMPLIED
    MSG_TEL_NO CDATA #IMPLIED
    MID_INI_NM CDATA #IMPLIED
    NMPRFX_DSC CDATA #IMPLIED
    PRM_TEL_NO CDATA #IMPLIED
    PRM_EXT_NO CDATA #IMPLIED
    STATE_C CDATA #IMPLIED
    RPTR_ST_NM CDATA #IMPLIED
    RPTR_ST_NO CDATA #IMPLIED
    SUFX_TLDSC CDATA #IMPLIED
    RPTR_ZIPNO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKREFERL_T CDATA #REQUIRED
    FKLAW_ENFT CDATA #IMPLIED
    ZIP_SFX_NO CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT RFDLSVCT EMPTY>
  <!ATTLIST RFDLSVCT
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKREFR_CLT CDATA #REQUIRED
    FKDL_SVC_T CDATA #REQUIRED
    FKREFR_CL0 CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT SBPVD_UC EMPTY>
  <!ATTLIST SBPVD_UC
    PKSB_PVDRT CDATA #REQUIRED
    CA_DLIC_NO CDATA #IMPLIED
    FIRST_NM CDATA #REQUIRED
    LAST_NM CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT SB_PVDRT EMPTY>
  <!ATTLIST SB_PVDRT
    IDENTIFIER CDATA #REQUIRED
    ADD_TEL_NO CDATA #IMPLIED
    ADD_EXT_NO CDATA #IMPLIED
    BIRTH_DT CDATA #IMPLIED
    CA_DLIC_NO CDATA #IMPLIED
    CITY_NM CDATA #IMPLIED
    EMPLYR_NM CDATA #IMPLIED
    FIRST_NM CDATA #REQUIRED
    FRG_ADRT_B CDATA #REQUIRED
    GENDER_IND CDATA #REQUIRED
    IND_TRBC CDATA #IMPLIED
    LAST_NM CDATA #REQUIRED
    MID_INI_NM CDATA #IMPLIED
    NMPRFX_DSC CDATA #IMPLIED
    SS_NO CDATA #IMPLIED
    STATE_C CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    SUFX_TLDSC CDATA #IMPLIED
    ZIP_NO CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    ZIP_SFX_NO CDATA #IMPLIED
    EDUCATION CDATA #IMPLIED
    EMPL_STAT CDATA #IMPLIED
    PRIM_INC CDATA #IMPLIED
    SEC_INC CDATA #IMPLIED
    YR_INC_AMT CDATA #IMPLIED
    HISP_CD CDATA #IMPLIED
    MRTL_STC CDATA #IMPLIED
    LISOWNIND CDATA #IMPLIED
    LIS_PER_ID CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    ETH_UD_CD CDATA #IMPLIED
    HISP_UD_CD CDATA #IMPLIED
    RESOST_IND CDATA #IMPLIED
    PASSBC_CD CDATA #IMPLIED
    >

  <!ELEMENT SCP_PHTT EMPTY>
  <!ATTLIST SCP_PHTT
    PHONETC_NM CDATA #REQUIRED
    FKSB_PVDRT CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    >

  <!ELEMENT SFSUR_BT EMPTY>
  <!ATTLIST SFSUR_BT
    SURR_DT CDATA #REQUIRED
    SURR_TM CDATA #IMPLIED
    SURR_BY_NM CDATA #REQUIRED
    RELTO_CLT CDATA #REQUIRED
    COMM_DESC CDATA #IMPLIED
    ID_INFO_CD CDATA #IMPLIED
    MEDQUES_CD CDATA #IMPLIED
    QUESREC_DT CDATA #IMPLIED
    CPSNTF_IND CDATA #IMPLIED
    CPSNTF_DT CDATA #REQUIRED
    CPSNTF_TM CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCHLD_CLT CDATA #REQUIRED
    FKSPRJ_CST CDATA #IMPLIED
    FKSPRJ_RFT CDATA #IMPLIED
    >

  <!ELEMENT SPC_PRJT EMPTY>
  <!ATTLIST SPC_PRJT
    IDENTIFIER CDATA #REQUIRED
    PRJCT_DSC CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    GVR_ENTC CDATA #REQUIRED
    PROJECT_NM CDATA #IMPLIED
    START_DT CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    ARCASS_IND CDATA #IMPLIED
    >

  <!ELEMENT SPRJ_RFT EMPTY>
  <!ATTLIST SPRJ_RFT
    THIRD_ID CDATA #REQUIRED
    CNTY_SPFCD CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    PART_ENDT CDATA #IMPLIED
    PART_STRDT CDATA #REQUIRED
    FKREFERL_T CDATA #REQUIRED
    FKSPC_PRJT CDATA #REQUIRED
    SFSURB_IND CDATA #IMPLIED
    >

  <!ELEMENT SPV_APVT EMPTY>
  <!ATTLIST SPV_APVT
    IDENTIFIER CDATA #REQUIRED
    ACTION_DT CDATA #REQUIRED
    ACTION_TM CDATA #REQUIRED
    APRVL_NO CDATA #REQUIRED
    APV_STC CDATA #REQUIRED
    APRVL_C CDATA #REQUIRED
    CUR_APVIND CDATA #REQUIRED
    ESTB_FORID CDATA #REQUIRED
    ESTB_FORCD CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKSTFPERST CDATA #REQUIRED
    FKSTFPERS0 CDATA #IMPLIED
    CS_REF_NM CDATA #REQUIRED
    SPV_COMDSC CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT STFPERST EMPTY>
  <!ATTLIST STFPERST
    IDENTIFIER CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    FIRST_NM CDATA #REQUIRED
    JOB_TL_DSC CDATA #IMPLIED
    LAST_NM CDATA #REQUIRED
    MID_INI_NM CDATA #IMPLIED
    NMPRFX_DSC CDATA #IMPLIED
    PHONE_NO CDATA #REQUIRED
    TEL_EXT_NO CDATA #IMPLIED
    START_DT CDATA #REQUIRED
    SUFX_TLDSC CDATA #IMPLIED
    TLCMTR_IND CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCWS_OFFT CDATA #REQUIRED
    AVLOC_DSC CDATA #IMPLIED
    SSRS_WKRID CDATA #IMPLIED
    CNTY_SPFCD CDATA #REQUIRED
    DTYWKR_IND CDATA #IMPLIED
    FKCWSADDRT CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    >

  <!ELEMENT STFUATHT EMPTY>
  <!ATTLIST STFUATHT
    THIRD_ID CDATA #REQUIRED
    START_DT CDATA #REQUIRED
    UNTAUTH_CD CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKASG_UNIT CDATA #REQUIRED
    FKSTFPERST CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT STF_PVLT EMPTY>
  <!ATTLIST STF_PVLT
    IDENTIFIER CDATA #REQUIRED
    START_DT CDATA #REQUIRED
    END_DT CDATA #IMPLIED
    END_TIME CDATA #IMPLIED
    LVL_PRVC CDATA #REQUIRED
    ATH_PRVC CDATA #REQUIRED
    START_TIME CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKUSERID_T CDATA #REQUIRED
    CNTY_SPFCD CDATA #REQUIRED
    >

  <!ELEMENT SURB_RCT EMPTY>
  <!ATTLIST SURB_RCT
    THIRD_ID CDATA #REQUIRED
    ATPRCLM_NM CDATA #IMPLIED
    RELTO_CLNT CDATA #REQUIRED
    RCLM_DT CDATA #IMPLIED
    RCLM_TM CDATA #IMPLIED
    RCLM_DESC CDATA #IMPLIED
    SURCLM_IND CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKSFSUR_BT CDATA #REQUIRED
    >

  <!ELEMENT SVC_PVRT EMPTY>
  <!ATTLIST SVC_PVRT
    IDENTIFIER CDATA #REQUIRED
    AGENCY_NM CDATA #IMPLIED
    CITY_NM CDATA #IMPLIED
    FAX_NO CDATA #IMPLIED
    FIRST_NM CDATA #IMPLIED
    LAST_NM CDATA #IMPLIED
    NMPRFX_DSC CDATA #IMPLIED
    PHONE_NO CDATA #IMPLIED
    TEL_EXT_NO CDATA #IMPLIED
    PSTITL_DSC CDATA #IMPLIED
    SVCPVDRC CDATA #REQUIRED
    STATE_C CDATA #IMPLIED
    STREET_NM CDATA #IMPLIED
    STREET_NO CDATA #IMPLIED
    SUFX_TLDSC CDATA #IMPLIED
    ZIP_NM CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    ZIP_SFX_NO CDATA #IMPLIED
    ARCASS_IND CDATA #IMPLIED
    EMAIL_ADDR CDATA #IMPLIED
    >

  <!ELEMENT SYS_CD_C EMPTY>
  <!ATTLIST SYS_CD_C
    SYS_ID CDATA #REQUIRED
    CATEGORYID CDATA #IMPLIED
    INACTV_IND CDATA #REQUIRED
    OTHER_CD CDATA #IMPLIED
    SHORT_DSC CDATA #REQUIRED
    LGC_ID CDATA #REQUIRED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    THIRD_ID CDATA #REQUIRED
    FKS_META_T CDATA #REQUIRED
    LONG_DSC CDATA #IMPLIED
    >

  <!ELEMENT S_META_T EMPTY>
  <!ATTLIST S_META_T
    TBL_DSD_NM CDATA #REQUIRED
    USR_TBL_NM CDATA #REQUIRED
    LNG_DSCIND CDATA #REQUIRED
    LNG_DSC_NM CDATA #IMPLIED
    OTHR_CD_NM CDATA #IMPLIED
    RLT_CTGIND CDATA #REQUIRED
    SHT_DSC_NM CDATA #REQUIRED
    USR_ID_NO CDATA #IMPLIED
    USR_ID_IND CDATA #REQUIRED
    LST_BRD_TS CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    DEF_SYSID CDATA #IMPLIED
    >

  <!ELEMENT TRBA_CLT EMPTY>
  <!ATTLIST TRBA_CLT
    THIRD_ID CDATA #REQUIRED
    TRB_RELC CDATA #REQUIRED
    MATPAT_CD CDATA #IMPLIED
    NMPRFX_DSC CDATA #IMPLIED
    FIRST_NM CDATA #REQUIRED
    MIDDLE_NM CDATA #IMPLIED
    LAST_NM CDATA #REQUIRED
    SUFX_TLDSC CDATA #IMPLIED
    BIRTH_DT CDATA #IMPLIED
    BIRTH_PLC CDATA #IMPLIED
    DEATH_DT CDATA #IMPLIED
    DEATH_PLC CDATA #IMPLIED
    CUR_ADDR1 CDATA #IMPLIED
    CUR_ADDR2 CDATA #IMPLIED
    FRMR_ADDR1 CDATA #IMPLIED
    FRMR_ADDR2 CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKCLIENT_T CDATA #REQUIRED
    >

  <!ELEMENT TSBLOBT EMPTY>
  <!ATTLIST TSBLOBT
    DOC_HANDLE CDATA #REQUIRED
    DOC_SEGSEQ CDATA #REQUIRED
    DOC_BLOB CDATA #REQUIRED
    >

  <!ELEMENT TSCNTRLT EMPTY>
  <!ATTLIST TSCNTRLT
    DOC_HANDLE CDATA #REQUIRED
    DOC_SEGS CDATA #REQUIRED
    DOC_LEN CDATA #REQUIRED
    DOC_AUTH CDATA #REQUIRED
    DOC_SERV CDATA #REQUIRED
    DOC_DATE CDATA #IMPLIED
    DOC_TIME CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    CMPRS_PRG CDATA #REQUIRED
    DOC_NAME CDATA #REQUIRED
    >

  <!ELEMENT USERID_T EMPTY>
  <!ATTLIST USERID_T
    IDENTIFIER CDATA #REQUIRED
    LOGON_ID CDATA #IMPLIED
    END_DT CDATA #IMPLIED
    END_TM CDATA #IMPLIED
    LST_UPD_ID CDATA #REQUIRED
    LST_UPD_TS CDATA #REQUIRED
    FKFPSTFPRT CDATA #IMPLIED
    FKSTFPERST CDATA #IMPLIED
    SYS_DMC CDATA #REQUIRED
    >

